<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="{% static 'assets/images/Blue man-02.jpg' %}  ">
    <link href="https://fonts.googleapis.com/css2?family=Licorice&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  
    <!-- Why HOW What Links --> 

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>AIESEC IN MOROCCO</title>

    <!-- Bootstrap core CSS -->
    <link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static  'assets/css/fontawesome.css' %}  ">
    <link rel="stylesheet" href=" {% static  'assets/css/templatemo-woox-travel.css'%} ">
    <link rel="stylesheet" href="{% static   'assets/css/owl.css'%} ">
    <link rel="stylesheet" href="{% static  'assets/css/animate.css'%} ">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

    <!-- Quotes -->

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
      
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}  ">
    <link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--

TemplateMo 580 Woox Travel

https://templatemo.com/tm-580-woox-travel

-->
  </head>

<body>

<div>
  {% for s in  fq %}
  {{s.Question}}
  {% endfor %}

</div>

</body>

</html>